body{
    margin: 0 auto;
    padding: 0;
    background-image: url(/img/Armacoeshor.jpg);
    width: 90%;
    height: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    margin: 0 25px;
}
.barra_superior{
    border-bottom: 1px solid rgb(204, 204, 204);
    color: rgb(255, 255, 255);
    padding: 0;
    font-size: 30px;
    display: flex;
    text-align: left; 
    flex: 1;
    margin-top: 25px;
}
.container img{
    margin-top: 25px;
    width: 700px;
    height: auto;
}
.container{
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}
/* links de navegacao da pagina */
nav{
    color: rgb(255, 255, 255); /* muda a cor da fonte? */
    font-size: 70px;
    margin-bottom: 200px;
    
}
nav a{
    color: rgb(255, 255, 255); 
    text-decoration: none; /*tira o underline do link */
}
nav a.btn_destaque{
    margin-left: 25px;
}
.btn_destaque{
    background-color: var(--primary-color);
    color: var(--title-color);
    padding: 18px 35px; /* margem interna do botao sup dir inf esq. somente um ele muda todos */
    border-radius: 10px; /* arredonda as bordas */
    font-size: 70px;
    text-decoration: none; 
    margin-right: 25px;
}
form{
    background-color: var(--title-color);
    padding: 600px; /*preenchimento interno, criar uma box*/
    border-radius: 25px;
    margin: 0 auto;
    max-width: 2400px;
    border: solid #ff4d4d 20px;

    background-image: url(/assets/log.svg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
}
form h1{
    font-size: 120px;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 100px;
}
form fieldset{
    margin-top: 64px;
    border: 0;
}
form legend{
    margin-bottom: 50px;
}
form legend h2{
    font-size: 60px;
    color: var(--primary-color);
    
}
form .field{
    flex: 1;/*deixar ocupado todo o espaço de forma uniforme*/
    font-weight: bold;
    display: flex; /*Colocar de forma mais flexível*/
    flex-direction: column;/*colocou flexível, colocar esse para um ficar em baixo do outro*/
    margin-bottom: 24px;
    
}
form .field-group{
    display: flex;
    margin: 0;
    
}
form input{
    background-color: var(--primary-color);
    border: 0;
    padding: 30px 300px;
    font-size: 50px;
    border-radius: 25px;
    outline: none; /* - caixa de seleção para que aparece ou não em volta da caixa selecionada um linha em volta quando passar o mouse */
}
form label{
    font-size: 50px;
    margin-bottom: 10px;
    color: var(--primary-color);    
}
form .field-group .field + .field{/*Aqui vamos separar um pouco as margens entre endereço e número, como também o de Estado e Cidade*/
    margin-left: 25px;
}
form button{
    width: 300px;
    height: 75px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    border: 0;
    margin-top: 40px;
    transition: background-color 400ms;
}
form button:hover{
    background-color: #dd1717;
}